python-dotenv==1.0.1
openai==1.34.0
pydantic==2.7.4
fastapi==0.111.1
retell-sdk==4.0.0
uvicorn==0.30.1
requests==2.32.3
aiohttp==3.9.5
google-apps-meet==0.1.7
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
google-api-python-client==2.137.0
pytz==2024.1
python-dateutil==2.9.0.post0
sqlalchemy==2.0.31